<% content_for :subtitulo do %>
  Página de Inicio <small>- Resumen de Ofertas</small>
<% end %>

<div class="row">
  <%= render partial: "row_resumen"%>
</div>
<!-- /.row -->

<div class="row">
  <%= render partial: "row_charts"%>
</div>
<!-- /.row -->
